schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="journal">
      <xs:complexType>
         <xs:sequence>
            <xs:element name="entry" maxOccurs="unbounded" minOccurs="0">
               <xs:complexType>
                  <xs:sequence>
                     <xs:element name="scripture" maxOccurs="unbounded" minOccurs="0">
                        <xs:complexType>
                           <xs:simpleContent>
                              <xs:extension base="xs:string">
                                 <xs:attribute type="xs:string" name="book" use="required"/>
                                 <xs:attribute type="xs:byte" name="chapter" use="required"/>
                                 <xs:attribute type="xs:byte" name="startverse" use="optional"/>
                                 <xs:attribute type="xs:byte" name="endverse" use="optional"/>
                              </xs:extension>
                           </xs:simpleContent>
                        </xs:complexType>
                     </xs:element>
                     <xs:element type="xs:string" name="topic" maxOccurs="unbounded" minOccurs="0"/>
                     <xs:element type="xs:string" name="content"/>
                  </xs:sequence>
                  <xs:attribute type="xs:date" name="date" use="required"/>
               </xs:complexType>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>